<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/tmp/search/log/indexServer/stdInfo.log</File>
        <encoder>
            <pattern>%5p %d{yyyy-MM-dd HH:mm:ss} %c %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/search/log/indexServer/stdInfo.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/tmp/search/log/indexServer/console.log</File>
        <encoder>
            <pattern>%5p %d{yyyy-MM-dd HH:mm:ss} %c %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/search/log/indexServer/console.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>


    <logger name="com.search.indexserver" additivity="false" level="INFO">
        <appender-ref ref="stdInfo"/>
    </logger>


    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>